<article class="card" data-card data-card-size="{{ .size }}">

  <!-- Header -->
  <header class="card__header">
    <h3 class="card__header-title" data-card-header>Line Graph</h3>
    <p class="card__header-subtitle">Total, last 2 days</p>
  </header>
  
  <!-- Content -->
  <div class="card__content" data-card-content>
    <div class="table" data-table style="grid-template-columns:minmax(var(--table-col-min-width),var(--table-col-max-width)) minmax(var(--table-col-min-width),1fr);">
      <div class="table__col table__col--segment" data-col="segment">
        <div class="table__col-header">
          <h3 class="table__title">Segment</h3>
          <p class="table__meta">
            <a href="">Showing all</a>
          </p>
        </div>
        <div class="table__col-body">
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
          <div class="table__cell">Segment Name</div>
        </div>
        <div class="table__col-footer">
          <div class="table__cell">Overall</div>
        </div>
        <div class="table__col-drag" data-drag-handle></div>
      </div>
      <div class="table__col table__col--metric" data-col="metric">
        <div class="table__col-header">
          <h3 class="table__title">Metric</h3>
          <p class="table__meta">Count Total</p>
        </div>
        <div class="table__col-body">
          <div class="table__cell">8,906</div>
          <div class="table__cell">16,755</div>
          <div class="table__cell">9,148</div>
          <div class="table__cell">11,379</div>
          <div class="table__cell">13,006</div>
          <div class="table__cell">12,096</div>
          <div class="table__cell">153,339</div>
          <div class="table__cell">184,492</div>
          <div class="table__cell">193,323</div>
          <div class="table__cell">203,393</div>
          <div class="table__cell">212,992</div>
          <div class="table__cell">244,282</div>
        </div>
        <div class="table__col-footer">
          <div class="table__cell">847,292</div>
        </div>
        <div class="table__col-drag" data-drag-handle></div>
      </div>
    </div>
  </div>

</article>