<nav class="header__nav" role="navigation" data-nav>
  <ul>
    <li class="header__nav-item">
      <a href="https://friendly-babbage-4cd043.netlify.app/">New Item : New Column</a>
    </li>
    <li class="header__nav-item">
      <a href="https://new-item-new-row--friendly-babbage-4cd043.netlify.app/">New Item : New Row</a>
    </li>
    <li class="header__nav-item">
      <a href="https://add-from-left--friendly-babbage-4cd043.netlify.app/" class="active">Add From Left</a>
    </li>
  </ul>
</nav>