/* 
 * Block 
 */

.table {
	position: relative;
	counter-reset: segment metric;
  display: grid;
}


/*
 * Elements 
 */

.table__col {
	position: relative;
}

.table__col .table__cell:not(:only-child) {
	border-bottom: var(--base-border);
}

.table__col-header {
	padding: var(--base-spacing);
	border-bottom: var(--base-border);
}

.table__col-drag {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: calc(100% - var(--table-cell-height));
	width: 2px;
	background-color: var(--base-border-color);
	cursor: move;
	transition: background-color var(--base-duration) var(--base-timing);
}

.table__col-drag:hover {
	background-color: var(--hover-link-color);
}

.table__col:not(:last-child) .table__col-drag {
	display: block;
}

.table__cell {
	height: var(--table-cell-height);
	padding: 0 var(--base-spacing);
	line-height: var(--table-cell-height);
}

.table__title {
	margin: 0 0 calc(var(--base-spacing) / 3);
}

.table__title span {
	display: inline-block;
	margin-right: calc(var(--base-spacing) / 6);
	color: var(--secondary-font-color);
}

.table__meta,
.table__meta a {
	margin: 0;
	color: var(--secondary-font-color);
	text-decoration: none;
}


/*
 * Modifiers 
 */

.table__col--segment {
	counter-increment: segment;
}

.table__col--metric {
	text-align: right;
	counter-increment: metric;
}

.table__col--segment:not(:first-child) .table__col-footer {
	display: none;
}

.table__col--segment .table__title::after {
	content: " " counter(segment);
}

.table__col--metric .table__title::before {
	content: counter(metric, upper-alpha) " ";
	color: var(--secondary-font-color);
}


/*
 * States 
 */

.table.is-resizing * {
	user-select: none;
}