/* 
 * Data Card Elements
 */

.card__content {
  display: none;
  height: 100%;
  background-color: var(--secondary-background-color);
}

.card__content-header {
  padding: var(--base-spacing);
  border-bottom: var(--base-border);
  background-color: var(--base-background-color);
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
  user-select: none;
}

.card__content-header-title {
  margin: 0 0 calc(var(--base-spacing) / 4);
  text-transform: capitalize;
}

.card__content-header-subtitle {
  margin: 0;
  color: var(--secondary-font-color);
}



/* 
 * Data Card Modifiers 
 */

.card--data {
  min-height: var(--default-min-card-height);
}

.card--data[data-card="active"] {
  height: var(--min-data-height);
  border: var(--base-border);
}

.card--data .card__text,
.card--data .card__controls  {
  display: none;
}

/* Hide text alignment menu toggle */
.card--data .list__item--text-align {
  display: none;
}




/* 
 * Data Card States 
 */

/* Prevent pointer event from firing on child elems during drag */
.is-dragActive .card__content {
  pointer-events: none;
}

/* Show card content */
.card--data .card__content {
  display: block;
}