{{ define "main" }}
  <aside class="sidebar"></aside>
  
  <div class="stage">

    <!-- Report View -->
    <div id="report" data-tab-pane class="tab__pane is-active">
      <h1>Report View</h1>
      <div class="table" data-table style="grid-template-columns: minmax(var(--table-col-min-width), var(--table-col-max-width)) minmax(var(--table-col-min-width),1fr)">
        <div class="table__col table__col--segment" data-col="segment">
          <div class="table__col-header">
            <h3 class="table__title">Segment</h3>
            <p class="table__meta">
              <a href="">Showing all</a>
            </p>
          </div>
          <div class="table__col-body">
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
            <div class="table__cell">Segment Name</div>
          </div>
          <div class="table__col-footer">
            <div class="table__cell">Overall</div>
          </div>
          <div class="table__col-drag" data-drag-handle></div>
        </div>

        <div class="table__col table__col--metric" data-col="metric">
          <div class="table__col-header">
            <h3 class="table__title">Metric</h3>
            <p class="table__meta">Count Total</p>
          </div>
          <div class="table__col-body">
            <div class="table__cell">8,906</div>
            <div class="table__cell">16,755</div>
            <div class="table__cell">9,148</div>
            <div class="table__cell">11,379</div>
            <div class="table__cell">13,006</div>
            <div class="table__cell">12,096</div>
            <div class="table__cell">153,339</div>
            <div class="table__cell">184,492</div>
            <div class="table__cell">193,323</div>
            <div class="table__cell">203,393</div>
            <div class="table__cell">212,992</div>
            <div class="table__cell">244,282</div>
          </div>
          <div class="table__col-footer">
            <div class="table__cell">847,292</div>
          </div>
          <div class="table__col-drag" data-drag-handle></div>
        </div>
      </div>
      <div class="util">
        <div>
          <button class="button" data-table-util="add-segment">Add Segment</button>
          <button class="button" data-table-util="remove-segment">Remove Segment</button>
          <button class="button" data-table-util="add-metric">Add Metric</button>
          <button class="button" data-table-util="remove-metric">Remove Metric</button>
        </div>
        <div>
          <button class="button" data-table-util="new-session">New Session</button>
        </div>
      </div>
    </div>

    <!-- Dashboard View -->
    <div id="dashboard" data-tab-pane class="tab__pane">
      <h1>Dashboard View</h1>
      <section>
        <h2>Full Card</h2>
        {{ partial "components/card" (dict "context" . "size" 12) }}
      </section>

      <section>
        <h2>Half Card</h2>
        {{ partial "components/card" (dict "context" . "size" 6) }}
      </section>

      <section>
        <h2>1/3 Card</h2>
        {{ partial "components/card" (dict "context" . "size" 4) }}
      </section>

      <section>
        <h2>1/4 Card</h2>
        {{ partial "components/card" (dict "context" . "size" 3) }}
      </section>
    </div>

  </div>
{{ end }}